@font-face {
  font-family: 'Norse-Bold';
  src: url(./assets/Norse-Bold.otf);
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  
}

main {
  display: flex;
  height: 100vh;
}

.flex-container {
  display: flex;
  flex: 1 0 auto; 
}

.image-sidebar {
  background: url(assets/halie-west-25xggax4bSA-unsplash.jpg) no-repeat;
  background-size: cover;
  width: 30vw;
  display: flex;
  flex-direction: column;
}

img {
  width: 32px;
  height: 32px;
  filter: invert(100%)
}

div.banner {
  background-color: rgba(24, 24, 24, 0.479);
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-family: 'Norse-Bold';
}

.logo-text {
  color: white;
  font-size: 48px;
}

.footer {
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  margin-bottom: 10px;
}

.text-content-container,
.form-container,
.inner-form-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  flex: 1;
}

.cta-container {
  margin-left: 20px;
  max-width: 50vw;
  width: auto;
  height: auto;
  word-wrap: break-word;
}

.text-content-container {
  background-color: rgba(241, 241, 241, 0.555);
}

.form-container {
  margin: 20px 0px 20px 00px;
  padding: 5px 40px 0px;
  background-color: white;
}

.inner-form-container{
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px
}

label {
  font-size: small;
}
.vertical-form-container{
  background-color: #fff;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 25px 0px 25px;
  gap: 30px;
}

.green-button{
  font-size: 18px;
  margin-left: 40px;
  margin-bottom: 10px;
  width: 200px;
  border-radius: 5px;
  color: white;
  background-color: #596D48;
  padding: 10px 20px;
}

.login{
  margin-left: 40px;
}

.spacer {
  flex: 2
}

.shadow {
  box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
}

input {
  border-radius: 5px;
  outline: none;
  border: 1px solid gray;
}

input:focus {
  outline: none;
  border: 1px solid blue;
  box-shadow: rgba(149, 157, 165, 0.3) 0px 2px 4px;
}

.error:user-invalid {
  border: 1px solid red;
}

